body {
  max-height: 100vh;
}

.whole {
  padding: 5px;
  background: #555555;
  height: 100vh;
  max-height: 100vh;
}
.contents {
  background: #f1f1f1;
  max-height: 100vh;
  max-width: 400px;
  padding: 10px;
}
.joystick-container {
  margin: 0px;
  height: 27vh;
}
.logo {
  height: 15vh;
}
.logo-holder {
  background-image: url("./Images/final logo.png");
  height: 100%;
  width: auto;
}

.update-label {
  position: absolute;
  right: 20px;
}
.custom-range::-webkit-slider-thumb {
  background: #ff5100;
}
.custom-range::-webkit-slider-track {
  background: #ff5100;
}

.single-container {
  text-align: center;
}

.joystick-icon {
  width: 30px;
}

.slider-holder {
  position: relative;
}
